node_modules/
dist/
coverage/
storybook-static/
.env
*.log

BE/node_modules/
BE/dist/
BE/coverage/
BE/.env

FE/node_modules/
FE/dist/
FE/coverage/
FE/.env

Admin-TechCorp-bot/node_modules/
Admin-TechCorp-bot/dist/
Admin-TechCorp-bot/coverage/
Admin-TechCorp-bot/storybook-static/
Admin-TechCorp-bot/.env
